*{
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.plan-bl{
    width: 1440px;
    height: 607px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #fff;
}

