*{
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.why {
    background-color: #fff;
    max-width: 1440px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        top: 27px;
        margin-left: 40px;
        margin-right: 111px;
        width: 262px;
        height: 147px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
    }
    }
    .icon1{
        width: 133px;
        height: 98px;
        text-align: center;
        margin-right: 26px;
        img{
            width: 42px;
            height: 50px;
        }
        p{
            height: 38px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }
    .icon2{
        text-align: center;
        width: 105px;
        height: 98px;
        margin-right: 45px;
        img{
            width: 44px;
            height: 50px;

        }
        p{
            height: 38px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }
    .icon3{
        text-align: center;
        width: 67px;
        height: 98px;
        margin-right: 60px;
        img{
            width: 54px;
            height: 50px;

        }
        p{
            // height: 38px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }
    .icon4{
        text-align: center;
        width: 94px;
        height: 98px;
        margin-right: 50px;
        img{
            width: 50px;
            height: 50px;

        }
        p{
            // height: 38px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }
    .icon5{
        text-align: center;
        width: 97px;
        height: 117px;
        margin-right: 30px;
        margin-top: 51px;
        img{
            width: 50px;
            height: 50px;

        }
        p{
            height: 57px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }
    .icon6{
        text-align: center;
        width: 122px;
        height: 117px;
        margin-right: 20px;
        margin-top: 51px;
        img{
            width: 50px;
            height: 50px;

        }
        p{
            height: 57px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }
    .icon7{
        text-align: center;
        width: 138px;
        height: 117px;
        margin-right: 30px;
        margin-top: 51px;
        img{
            width: 50px;
            height: 50px;

        }
        p{
            height: 57px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px; 
        }
    }